  <h2>Add Place</h2>
  <form method="POST" ng-controller="AddController" ng-submit="addPlace()">
    <fieldset>
      <label>Block: </label>
      <input type="text" size=50 ng-model="state.block_number"><br>
      <label>Street Name: </label>
      <input name="street_input" type="text" size=50 ng-model="state.street_name" required><br>
      <label>Unit Num: </label>
      <input name="input" type="text" size=50 ng-model="state.unit_number" required><br>
      <label>Postal Code: </label>
      <input name="input" type="text" size=50 ng-model="state.postal_code" required><br>
      <label>City: </label>
      <input name="input" type="text" size=50 ng-model="state.city" required><br>
      <label>Country: </label>
      <input name="input" type="text" size=50 ng-model="state.country" required><br>
      <label>Price: </label>
      <input name="input" type="text" size=50 ng-model="state.price" required><br>
      <label>Rooms: </label>
      <input name="size" type="number" min="1" size=50 ng-model="state.num_rooms" required><br>
      <label>Bathrooms: </label>
      <input name="size" type="number" min="1" size=50 ng-model="state.num_bathrooms" required><br>
      <label>Sqft: </label>
      <input name="input" type="text" size=50 ng-model="state.sqft" required><br>
      <label>Coordinates: </label>
      <input name="input" type="text" size=50 ng-model="state.coordinates" required>
        <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
        <span class="error" ng-show="form.size.$error.min">The value must be at least 1!</span>
      <button class="btn btn-primary">Create place</button>
    </fieldset>
  </form>
