<h2>Edit Place</h2>
<div class="spinner" id="spinner_id"></div>
<form class="edit_form" method="POST" ng-controller="EditController" ng-submit="editPlace()">
  <fieldset>
    <label>Block: </label>
    <input type="text" size=50 ng-model="state.place.address.block_number"><br>
    <label>Street Name: </label>
    <input name="street_input" type="text" size=50 ng-model="state.place.address.street_name" required><br>
    <label>Unit Num: </label>
    <input name="input" type="text" size=50 ng-model="state.place.unit_number" required><br>
    <label>Postal Code: </label>
    <input name="input" type="text" size=50 ng-model="state.place.address.postal_code" required><br>
    <label>City: </label>
    <input name="input" type="text" size=50 ng-model="state.place.address.city" required><br>
    <label>Country: </label>
    <input name="input" type="text" size=50 ng-model="state.place.address.country" required><br>
    <label>Price: </label>
    <input name="input" type="text" size=50 ng-model="state.place.price" required><br>
    <label>Rooms: </label>
    <input name="size" type="number" min="1" size=50 ng-model="state.place.num_rooms" required><br>
    <label>Bathrooms: </label>
    <input name="size" type="number" min="1" size=50 ng-model="state.place.num_bathrooms" required><br>
    <label>Sqft: </label>
    <input name="input" type="text" size=50 ng-model="state.place.sqft" required><br>
    <label>Coordinates: </label>
    <input name="input" type="text" size=50 ng-model="state.place.address.coordinates" required>
      <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
      <span class="error" ng-show="form.size.$error.min">The value must be at least 1!</span>
    <button class="btn btn-primary">Save place</button>
  </fieldset>
</form>
<!--<pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
<pre>$route.current.params = {{$route.current.params}}</pre>
<pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
<pre>$routeParams = {{$routeParams}}</pre>
-->
