<h2>List of places and its price</h2>
<navtabs page-name="state.pageName"></navtabs>
<div class="paddinglr10">
  <form ng-submit="searchItem()">
    <fieldset>
      <label>Street Name</label>&nbsp
      <input type="text" placeholder="e.g. River Valley Road" size=50 ng-model="state.searchStreetName" /><br>
      <label>Postal Code</label>&nbsp
      <input type="text" placeholder="e.g. 123456" size=50 ng-model="state.searchPostalCode" /><br>
      <label>Min Price</label>&nbsp
      <input type="text" placeholder="e.g. 100" size=50 ng-model="state.searchMinPrice" /><br>
      <label>Max Price</label>&nbsp
      <input type="text" placeholder="e.g. 1000" size=50 ng-model="state.searchMaxPrice" /><br>
      <button position="absolute" class="btn btn-primary">Search place</button>
    </fieldset>
  </form>

  <div class="spinner" id="spinner_id"></div>
  <table class="table">
    <thead>
      <th>No.</th>
      <th>Address</th>
      <th>Price</th>
      <th>Actions<th>
    </thead>
    <tbody>
      <tr class="place_list" ng-repeat="place in state.placeList">
        <td>{{ $index + 1 }}</td>
        <td>{{place.address.block_number}} {{place.address.street_name}} {{place.unit_number}} {{place.address.postal_code}}</td>
        <td>SGD {{place.price}}</td>
        <td>
          <!--<button class="btn primary" ng-click="editPlace(place._id.$oid">Edit</a>-->
          <a href="/#/edit/{{place._id.$oid}}" class="btn primary">Edit</a>
          <button class="btn primary" ng-click="deletePlace(place._id.$oid)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
