<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Test App</title>
    <link href="http://bootstrapdocs.com/v1.4.0/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/spinner.css">
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>

    {%- block topbar -%}
    <div class="topbar" data-dropdown="dropdown">
      <div class="fill">
        <div class="container">
          <h2>
               <a href="{{ url_for('places.list') }}" class="brand">My TestApp Admin</a>
          </h2>
          <ul class="nav secondary-nav">
            <li class="menu">
               <a href="/#/create" class="btn primary">Create new place</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
