{% extends "base.html" %}
{% import "_forms.html" as forms %}

{%- block topbar -%}
<div class="topbar" data-dropdown="dropdown">
  <div class="fill">
    <div class="container">
      <h2>
           <a href="{{ url_for('places.list') }}" class="brand">My TestApp Admin</a>
      </h2>
      <ul class="nav secondary-nav">
        <li class="menu">
           <a href="{{ url_for('places.create') }}" class="btn primary">Create new place</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{%- endblock -%}

{% block content %}
  <h2>
    {% if create %}
      Add new Place
    {% else %}
      Edit Place
    {% endif %}
  </h2>
  <form action="." method="post">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="Save">
    </div>
  </form>
{% endblock %}

