{% extends "base.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>

<!--1.2.15-->
<!--Making Calls to Backend via API using AngularJS-->
<div ng-app="PlaceApp">
  <div ng-view></div>
</div>
<script src="/static/js/place.js"></script>
<!--
<h2>Direct Calls to Backend</h2>
  <table  class="condensed-table zebra-striped">
    <thead>
      <th>Location</th>
      <th>Created</th>
      <th>Price</th>
      <th>Actions</th>
    </thead>
    <tbody>
    {% for place in places %}
      <tr>
        <th><a href="{{ url_for('places.edit', place_id=place.id) }}">{{ place}}</a></th>
        <td>{{ place.created_at.strftime('%Y-%m-%d') }}</td>
        <td>{{place.price}}</td>
        <td><a href="{{ url_for('places.edit', place_id=place.id) }}" class="btn primary">Edit</a><a href="{{ url_for('places.delete', place_id=place.id) }}" class="btn primary">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
-->
{% endblock %}
