{% extends "base.html" %}
{% import "_forms.html" as forms %}

{%- block topbar -%}
<div class="topbar" data-dropdown="dropdown">
  <div class="fill">
    <div class="container">
      <h2>
           <a href="{{ url_for('places.list') }}" class="brand">My TestApp Admin</a>
      </h2>
      <ul class="nav secondary-nav">
        <li class="menu">
           <a href="{{ url_for('places.create') }}" class="btn primary">Create new place</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{%- endblock -%}

{% block page_header %}
  <div class="page-header">
    <h1>{{ place }}</h1>
  </div>
{% endblock %}

{% block content %}
  <p>{{ place.unit_number }} {{place.address.block_number}} {{place.address.street_name}}<p>
  <p>Postal Code: {{place.address.postal_code}}<p>
  <p>Created at: {{ place.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
  <hr>
  <h2>Info</h2>
       <p>Rental Price: <strong>${{ place.price }}</strong> <small>on {{ place.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>

  <hr>
  <h2>Edit details</h2>
  <form action="." method="post">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="Edit">
    </div>
  </form>
{% endblock %}

